<?xml version="1.0" encoding="UTF-8"?>

<!-- Step 1: Root tag for Spring configuration -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Step 2: Define your beans here -->
    <bean id="motor" class="org.example.Motor" init-method="start" destroy-method="stop"/>
    <!-- Step 3: Inject dependency -->


</beans>
